<?xml version="1.0" encoding="utf-8"?>
<!-- Activities are doubled for portrait and landscape mode as the incorporated Spinner functionality
     crashes when the device gets rotated. So the rotation is done by the app according to the settings
     option. 
     Advisable for smartphone is portrait mode, for tablet is landscape mode.
     Last edited 2023-05-08
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:largeHeap="true">

    <!-- Permission needed to import/export database files -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    
    <!-- Permission needed for screen set on/off -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- multiwindow crashes when rotating the screen, 
         reason: Spinner in Counting(L)Activity, 
         solution: android:resizeableActivity="false" prohibits multi-window-mode
    -->
    <application
        android:name=".TransektCountApplication"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="TransektCount"
        android:supportsRtl="true"
        android:resizeableActivity="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        
        <activity
            android:name="com.wmstein.transektcount.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.wmstein.filechooser.AdvFileChooser"
            android:label="@string/title_activity_filechooser"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:parentActivityName="com.wmstein.transektcount.WelcomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="WelcomeActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.filechooser.AdvFileChooserL"
            android:label="@string/title_activity_filechooser"
            android:screenOrientation="landscape"
            android:parentActivityName="com.wmstein.transektcount.WelcomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="WelcomeActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.transektcount.NewSectionActivity"
            android:label="@string/title_activity_new_section"
            android:noHistory="true"
            android:parentActivityName="com.wmstein.transektcount.ListSectionActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ListSectionActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.transektcount.NewSectionLActivity"
            android:label="@string/title_activity_new_section"
            android:noHistory="true"
            android:parentActivityName="com.wmstein.transektcount.ListSectionLActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ListSectionLActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.transektcount.SettingsActivity"
            android:label="@string/action_settings"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:parentActivityName="com.wmstein.transektcount.WelcomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="WelcomeActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.transektcount.SettingsLActivity"
            android:label="@string/action_settings"
            android:screenOrientation="landscape"
            android:parentActivityName="com.wmstein.transektcount.WelcomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="WelcomeActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.transektcount.ListSectionActivity"
            android:label="@string/title_activity_list_section"
            android:parentActivityName="com.wmstein.transektcount.WelcomeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="WelcomeActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.transektcount.ListSectionLActivity"
            android:label="@string/title_activity_list_section"
            android:parentActivityName="com.wmstein.transektcount.WelcomeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="WelcomeActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.transektcount.EditMetaActivity"
            android:label="@string/title_activity_meta"
            android:launchMode="singleTop"
            android:parentActivityName="com.wmstein.transektcount.WelcomeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="WelcomeActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.transektcount.EditMetaLActivity"
            android:label="@string/title_activity_meta"
            android:launchMode="singleTop"
            android:parentActivityName="com.wmstein.transektcount.WelcomeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="WelcomeActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.transektcount.ListSpeciesActivity"
            android:label="@string/title_activity_list_species"
            android:launchMode="singleTop"
            android:parentActivityName="com.wmstein.transektcount.WelcomeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="WelcomeActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.transektcount.ListSpeciesLActivity"
            android:label="@string/title_activity_list_species"
            android:launchMode="singleTop"
            android:parentActivityName="com.wmstein.transektcount.WelcomeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="WelcomeActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.transektcount.CountingActivity"
            android:label="@string/title_activity_counting"
            android:launchMode="singleTop"
            android:parentActivityName="com.wmstein.transektcount.ListSectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ListSectionActivity"/>
        </activity>
        
        <activity
            android:name="com.wmstein.transektcount.CountingLActivity"
            android:label="@string/title_activity_counting"
            android:launchMode="singleTop"
            android:parentActivityName="com.wmstein.transektcount.ListSectionLActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ListSectionLActivity"/>
        </activity>
        
        <activity
            android:name="com.wmstein.transektcount.CountOptionsActivity"
            android:label="@string/title_activity_count_options"
            android:parentActivityName="com.wmstein.transektcount.CountingActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="CountingActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.transektcount.CountOptionsLActivity"
            android:label="@string/title_activity_count_options"
            android:parentActivityName="com.wmstein.transektcount.CountingLActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="CountingLActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.transektcount.DummyActivity"
            android:label="@string/title_activity_dummy"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.AppCompat">
        </activity>

        <activity
            android:name="com.wmstein.transektcount.EditSectionActivity"
            android:label="@string/title_activity_edit_section"
            android:parentActivityName="com.wmstein.transektcount.CountingActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="CountingActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.transektcount.EditSectionLActivity"
            android:label="@string/title_activity_edit_section"
            android:parentActivityName="com.wmstein.transektcount.CountingLActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="CountingLActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.transektcount.AddSpeciesActivity"
            android:label="@string/title_activity_add_species"
            android:parentActivityName="com.wmstein.transektcount.EditSectionActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="EditSectionActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.transektcount.AddSpeciesLActivity"
            android:label="@string/title_activity_add_species"
            android:parentActivityName="com.wmstein.transektcount.EditSectionLActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="EditSectionLActivity"/>
        </activity>

        <!-- multiwindow crashes when rotating the screen, reason: spinner in CountingActivity
                <uses-library
                    android:name="com.sec.android.app.multiwindow"
                    android:required="false"/>
        
                <meta-data
                    android:name="com.sec.android.support.multiwindow"
                    android:value="true"/>
                <meta-data
                    android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
                    android:resource="@dimen/app_defaultsize_w"/>
                <meta-data
                    android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
                    android:resource="@dimen/app_defaultsize_h"/>
                <meta-data
                    android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
                    android:resource="@dimen/app_minimumsize_w"/>
                <meta-data
                    android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
                    android:resource="@dimen/app_minimumsize_h"/>
        -->
    </application>

</manifest>