<?xml version="1.0" encoding="utf-8"?>
<!-- Rotation is set to portrait mode as landscape mode is even on tablets less useful.
     Last edited 2023-07-04
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions used for exporting files into public directory -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" android:maxSdkVersion="29" />

    <!-- Permission used for exporting files to any directory -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <!-- Permission needed for screen set on/off -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!--VIBRATE permission-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- multiwindow crashes when rotating the screen,
         reason: Spinner in CountingActivity, 
         solution: application attribute
           android:resizeableActivity="false"
         prohibits multi-window-mode
    -->
    <application
        android:name=".TransektCountApplication"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:icon="@drawable/ic_launcher"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:label="TransektCount"
        android:supportsRtl="true"
        android:resizeableActivity="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        
        <activity
            android:name="com.wmstein.transektcount.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.wmstein.filechooser.AdvFileChooser"
            android:label="@string/title_activity_filechooser"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:parentActivityName="com.wmstein.transektcount.WelcomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="WelcomeActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.transektcount.NewSectionActivity"
            android:label="@string/title_activity_new_section"
            android:noHistory="true"
            android:parentActivityName="com.wmstein.transektcount.ListSectionActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ListSectionActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.transektcount.SettingsActivity"
            android:label="@string/action_settings"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:parentActivityName="com.wmstein.transektcount.WelcomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="WelcomeActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.transektcount.ListSectionActivity"
            android:label="@string/title_activity_list_section"
            android:parentActivityName="com.wmstein.transektcount.WelcomeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="WelcomeActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.transektcount.EditMetaActivity"
            android:label="@string/title_activity_meta"
            android:launchMode="singleTop"
            android:parentActivityName="com.wmstein.transektcount.WelcomeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="WelcomeActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.transektcount.ListSpeciesActivity"
            android:label="@string/title_activity_list_species"
            android:launchMode="singleTop"
            android:parentActivityName="com.wmstein.transektcount.WelcomeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="WelcomeActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.transektcount.CountingActivity"
            android:label="@string/title_activity_counting"
            android:launchMode="singleTop"
            android:parentActivityName="com.wmstein.transektcount.ListSectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"
            tools:ignore="LockedOrientationActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ListSectionActivity"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.createChooser" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.wmstein.transektcount.CountOptionsActivity"
            android:label="@string/title_activity_count_options"
            android:parentActivityName="com.wmstein.transektcount.CountingActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="CountingActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.transektcount.DummyActivity"
            android:label="@string/title_activity_dummy"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat">
        </activity>

        <activity
            android:name="com.wmstein.transektcount.EditSectionActivity"
            android:label="@string/title_activity_edit_section"
            android:parentActivityName="com.wmstein.transektcount.CountingActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="CountingActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.transektcount.AddSpeciesActivity"
            android:label="@string/title_activity_add_species"
            android:parentActivityName="com.wmstein.transektcount.EditSectionActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="EditSectionActivity"/>
        </activity>

        <!-- multiwindow crashes when rotating the screen, reason: spinner in CountingActivity
                <uses-library
                    android:name="com.sec.android.app.multiwindow"
                    android:required="false"/>
        
                <meta-data
                    android:name="com.sec.android.support.multiwindow"
                    android:value="true"/>
                <meta-data
                    android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
                    android:resource="@dimen/app_defaultsize_w"/>
                <meta-data
                    android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
                    android:resource="@dimen/app_defaultsize_h"/>
                <meta-data
                    android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
                    android:resource="@dimen/app_minimumsize_w"/>
                <meta-data
                    android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
                    android:resource="@dimen/app_minimumsize_h"/>
        -->
    </application>

</manifest>